/* Save webP as PNG or JPEG v0.9 */
.saveWebPasbtns{
	position: absolute !important; z-index: 10000 !important; color: #000 !important; background: transparent !important; 
	padding: 3px 6px !important; text-align: center !important;
	box-sizing: border-box !important;
}
.saveWebPasbtns button{
	-moz-appearance: none; font-family: sans-serif !important; font-weight: 500 !important; font-size: 14px !important; cursor: pointer !important;
	line-height: 30px !important; height: 31px !important; border-radius: 4px !important; padding: 0 8px !important; margin: 2px 4px 0 0 !important; 
	color: #f90 !important; background-color: #333 !important; border: 1px solid #f90 !important; box-shadow: -1px -1px 6px 0px #333, 1px 1px 6px 0px #333 !important;
}
.saveWebPasbtns > span{
	font-family: sans-serif !important; font-weight: 400 !important; font-size: 14px !important; 
	line-height: 30px !important; height: 31px !important; padding: 0 8px !important; margin: 2px 4px 0 0 !important; 
	color: #f90 !important; background-color: #333 !important; 
}
.saveWebPasbtns button:hover {
	color: #fc0 !important;
}
.saveWebPasbtns button span{
	font-size: 11px; margin-left: 2px;
}
.saveWebPasInfo {
	background-color: #333 !important;
	text-align: left !important;
	padding: 4px 12px;
	border-radius: 4px !important; 
	box-sizing: border-box !important;
}
.saveWebPasInfo p {
	margin: 0 !important;
	line-height: 1.2em !important;
	font-size: 16px !important; 
}
@media print { 
	.saveWebPasbtns{
		display: none !important;
	} 
}